body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
}

@media (max-width: 700px) {
    .w3-content {
        padding: 0 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
    line-height: 55px;
}

h2 {
    line-height: 42px;
}

h5 {
    margin-bottom: 36px;
}

header {
    margin-bottom: 50px;
}

p {
    margin-bottom: 28px;
}

li {
    margin-bottom: 14px;
}

ul {
    margin-bottom: 28px;
}

.button-container {
    margin-bottom: 48px;
}

.contents a:hover {
    color: blue;
}

a.button {
    padding: 8px 24px;
    background-color: black;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

a.button:hover {
    text-decoration: underline;
}

.disclaimer {
    padding: 12px
}